In [1]:
import pandas as pd

In [2]:
#Abrindo o excel 
df = pd.read_excel("/home/mnetto/Documents/Python/Pandas/Dados Excel.xlsx")

In [4]:
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000

In [5]:
#Especificando qual aba abrir 
df = pd.read_excel("/home/mnetto/Documents/Python/Pandas/Dados Excel.xlsx", sheet_name="Aba2")

In [6]:
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000

In [7]:
#Verificando os nomes das abas com heet_names 
arquivo_excel = pd.ExcelFile("/home/mnetto/Documents/Python/Pandas/Dados Excel.xlsx") 
arquivo_excel.sheet_names

['Plan1', 'Aba2']

In [8]:
#Usando PARSE para selecionar as abas
aba1 = arquivo_excel.parse("Plan1")
aba2 = arquivo_excel.parse("Aba2")

In [10]:
aba1.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000

In [11]:
aba2.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000