In [1]:
import pandas as pd
import numpy as np 

alugueis = pd.read_csv("/home/mnetto/Documents/Python/houses_to_rent.csv")

In [2]:
# Operadores lÃ³gicos
# & - E
# | - OU
# ~ - NÃƒO
alugueis[(alugueis.rooms > 2) & (alugueis.bathroom > 3)]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
13,13,1,375,4,5,5,1,acept,not furnished,"R$4,793","R$15,000","R$2,805",R$191,"R$22,790"
24,24,1,180,3,5,3,3,acept,not furnished,"R$2,900","R$8,100",R$0,R$103,"R$11,100"
27,27,1,300,3,4,2,9,acept,furnished,"R$2,000","R$14,000","R$1,084",R$178,"R$17,260"
32,32,1,250,3,4,2,-,acept,not furnished,R$300,"R$3,480",R$360,R$53,"R$4,193"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6063,6063,1,210,4,4,3,13,not acept,furnished,"R$2,500","R$4,000",R$0,R$51,"R$6,551"
6067,6067,1,280,4,4,3,17,acept,furnished,"R$2,400","R$6,553",R$0,R$84,"R$9,037"
6070,6070,1,200,4,5,3,2,acept,not furnished,"R$2,600","R$4,500",R$834,R$58,"R$7,992"
6071,6071,0,600,5,5,4,-,acept,not furnished,"R$3,300","R$5,000",R$916,R$76,"R$9,292"
6072,6072,1,200,4,4,4,21,acept,furnished,"R$2,000","R$10,000",R$862,R$127,"R$12,990"

In [3]:
alugueis[~(alugueis.area <= 300)]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
13,13,1,375,4,5,5,1,acept,not furnished,"R$4,793","R$15,000","R$2,805",R$191,"R$22,790"
23,23,1,320,3,3,4,-,acept,not furnished,R$0,"R$9,000","R$1,000",R$136,"R$10,140"
41,41,1,800,4,5,4,9,acept,not furnished,"R$6,000","R$15,000","R$3,334",R$191,"R$24,530"
42,42,1,340,3,4,3,-,acept,furnished,R$0,"R$9,800",R$392,R$148,"R$10,340"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6045,6045,1,600,5,5,6,-,acept,not furnished,R$0,"R$12,750","R$1,059",R$192,"R$14,000"
6055,6055,0,306,3,2,2,-,acept,not furnished,Incluso,"R$2,500",R$422,R$38,"R$2,960"
6060,6060,1,384,3,5,3,-,acept,not furnished,R$0,"R$10,000","R$1,050",R$151,"R$11,200"
6066,6066,1,350,3,2,4,-,acept,not furnished,R$0,"R$12,500","R$1,334",R$188,"R$14,020"
6071,6071,0,600,5,5,4,-,acept,not furnished,"R$3,300","R$5,000",R$916,R$76,"R$9,292"

In [4]:
filtro = ((alugueis.rooms == 3) & (alugueis.floor == "5")) | (alugueis.area > 550)

In [5]:
filtro

0       False
1       False
2       False
3       False
4       False
        ...
6075    False
6076    False
6077    False
6078    False
6079    False
Length: 6080, dtype: bool

In [7]:
alugueis[filtro]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
41,41,1,800,4,5,4,9,acept,not furnished,"R$6,000","R$15,000","R$3,334",R$191,"R$24,530"
44,44,0,650,5,4,8,-,acept,furnished,R$0,"R$8,500",R$442,R$128,"R$9,070"
63,63,1,750,7,6,5,-,acept,furnished,R$0,"R$5,800",R$559,R$88,"R$6,447"
180,180,1,170,3,2,2,5,not acept,not furnished,"R$2,199","R$5,000",R$423,R$64,"R$7,686"
226,226,1,122,3,4,3,5,acept,not furnished,Incluso,"R$4,500",R$0,R$58,"R$4,558"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5908,5908,1,105,3,2,2,5,acept,not furnished,"R$1,661","R$1,000",R$290,R$13,"R$2,964"
5941,5941,1,600,4,5,6,-,acept,not furnished,R$0,"R$6,000","R$3,000",R$51,"R$9,051"
5968,5968,1,210,3,4,3,5,acept,furnished,"R$4,100","R$9,945","R$1,000",R$127,"R$15,170"
6045,6045,1,600,5,5,6,-,acept,not furnished,R$0,"R$12,750","R$1,059",R$192,"R$14,000"
6071,6071,0,600,5,5,4,-,acept,not furnished,"R$3,300","R$5,000",R$916,R$76,"R$9,292"

In [8]:
alugueis[~filtro]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"